
+incdir+$BASEJUMP_DIR/bsg_misc
+incdir+$COMMON_DIR

$TEST_DIR/testbench.sv
$TEST_DIR/helper.cpp

$COMMON_DIR/ethernet_receiver.sv
$COMMON_DIR/ethernet_sender.sv
$COMMON_DIR/rx_buffer_memory.sv
$COMMON_DIR/tx_buffer_memory.sv
$COMMON_DIR/ethernet_controller.sv
$COMMON_DIR/ethernet_mmio_decoder.sv
$COMMON_DIR/interrupt_generator.sv
$COMMON_DIR/mac_with_buffer.sv
$COMMON_DIR/eth_mac_1g_rgmii_fifo.v
$COMMON_DIR/eth_mac_1g_rgmii.v
$COMMON_DIR/eth_mac_1g.v
$COMMON_DIR/axis_adapter.v
$COMMON_DIR/axis_async_fifo_adapter.v
$COMMON_DIR/axis_async_fifo.v
$COMMON_DIR/axis_gmii_rx.v
$COMMON_DIR/axis_gmii_tx.v
$COMMON_DIR/iddr.v
$COMMON_DIR/lfsr.v
$COMMON_DIR/ssio_ddr_in.v
$COMMON_DIR/oddr_clock_downsample.v
$COMMON_DIR/rgmii_phy_if.v

$BASEJUMP_DIR/bsg_link/bsg_link_oddr_phy.v
$BASEJUMP_DIR/bsg_misc/bsg_defines.v
$BASEJUMP_DIR/bsg_misc/bsg_counter_clock_downsample.v
$BASEJUMP_DIR/bsg_misc/bsg_strobe.v
$BASEJUMP_DIR/bsg_misc/bsg_buf.v
$BASEJUMP_DIR/bsg_misc/bsg_reduce.v
$BASEJUMP_DIR/bsg_misc/bsg_nor3.v
$BASEJUMP_DIR/bsg_misc/bsg_nand.v
$BASEJUMP_DIR/bsg_misc/bsg_xnor.v
$BASEJUMP_DIR/bsg_misc/bsg_muxi2_gatestack.v
$BASEJUMP_DIR/bsg_misc/bsg_dff.v
$BASEJUMP_DIR/bsg_misc/bsg_dff_reset.v
$BASEJUMP_DIR/bsg_misc/bsg_dff_reset_set_clear.v
$BASEJUMP_DIR/bsg_dataflow/bsg_flow_counter.v
$BASEJUMP_DIR/bsg_misc/bsg_dff_reset_en.v
$BASEJUMP_DIR/bsg_misc/bsg_counter_up_down.v
$BASEJUMP_DIR/bsg_mem/bsg_mem_1rw_sync_mask_write_byte.v
$BASEJUMP_DIR/bsg_mem/bsg_mem_1rw_sync_mask_write_byte_synth.v
$BASEJUMP_DIR/bsg_mem/bsg_mem_1rw_sync.v
$BASEJUMP_DIR/bsg_mem/bsg_mem_1rw_sync_synth.v
$BASEJUMP_DIR/bsg_misc/bsg_decode.v
$BASEJUMP_DIR/bsg_misc/bsg_mux_one_hot.v
$BASEJUMP_DIR/bsg_misc/bsg_circular_ptr.v
$BASEJUMP_DIR/bsg_dataflow/bsg_fifo_tracker.v
$BASEJUMP_DIR/bsg_misc/bsg_counter_clear_up.v
